<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>298912299170-d03aht59p36g1btufius0a25s4k93rbm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.298912299170-d03aht59p36g1btufius0a25s4k93rbm</string>
	<key>API_KEY</key>
	<string>AIzaSyCHImvQ-8khMcF0NvTbVAo4vJoTcpxSaKY</string>
	<key>GCM_SENDER_ID</key>
	<string>298912299170</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seanhia.MapMobileApp</string>
	<key>PROJECT_ID</key>
	<string>mapapp-c59c0</string>
	<key>STORAGE_BUCKET</key>
	<string>mapapp-c59c0.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:298912299170:ios:8fdf4e8c45d1ca6bf57ffb</string>
</dict>
</plist>